* {
  margin: 0;
  padding: 0;
}
html {
  background-color: rgb(119, 112, 112);
  height: 100%;
  font-family: "Noto Sans", sans-serif;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.flex-wrap {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

#board {
  padding: 0px;
  margin: 0 auto;
  margin-top: 25px;
  border: px solid green;
  height: 500px;
  width: 500px;
}

#board tr td {
  width: 80px;
  height: 80px;
  border: 1px solid #1c1c1c;
  font-family: Helvetica;
  font-size: 30px;
  text-align: center;
}

#board tr td:hover {
  background: #e4e4e4;
  cursor: pointer;
}
.x {
  background-color: aqua;
}
.o {
  background-color: bisque;
}
.container {
  width: 50%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  /* Makes all direct children flex-items */
  align-items: center;
  /* Centers everything vertically */
  flex-direction: column;
  /* Stack all of the items on top of each other */
  justify-content: center;
  /* Centers everything horizontally */
}
.resetBtn {
  width: 50%;
  height: 10%;
  margin-bottom: 10px;
  display: flex;
  /* Makes all direct children flex-items */
  align-items: baseline;
  /* Centers everything vertically */
  flex-direction: column;
  /* Stack all of the items on top of each other */
  justify-content: baseline;
  /* Centers everything horizontally */
}
#textField {
  margin-bottom: 20px;
}
table {
  margin: auto;
}
.ButtonGroup {
  border: 4px #004d40 solid;
  margin: auto;
  border-radius: 10px;
  margin: 10px auto 10px auto;
  padding: 5px;
}
#playerButton {
  width: 230px;
}
#symbolChoseButton {
  width: 230px;
}
#levelChoseButton {
  width: 295px;
}
.ButtonGroup > button {
  background-color: inherit;
  color: inherit;
  border-radius: 10px;
  font-size: 20px;
}

#textField {
  margin-bottom: 20px;
}
table.board {
  border: px solid green;
  height: 600px;
  width: 600px;
  border-style: none;
  margin: auto 50px;
}

body {
  text-align: center;
  align: center;
}

td {
  height: 200px;
  width: 200px;
  text-align: center;
  vertical-align: middle;
  font-size: 100px;
  font-weight: bold;
  font-color: green;
  font-family: geniva, verdana, helvetica;
  border: 1px solid green;
}

#menu {
  text-align: center;
  position: absolute;
  width: 400;
  height: 400;
  margin-left: 100px;
  margin-top: 100px;
  border: 5px double red;
  display: none;
  vertical-align: middle;
  background-color: white;
}

#play_again {
  font-size: 20px;
  color: green;
}
.green {
  background-color: aqua;
}
.red {
  background-color: red;
}

/* final screen */
#winner {
  font-size: 2.5em;
  color: #eee;
  margin-top: 10px;
}

#anotherRound {
  font-size: 2.5em;
  color: rgb(143, 197, 143);
  margin-top: -15px;
  text-decoration: none;
}

#board tr:first-child td {
  border-top: 0;
}

#board tr:last-child td {
  border-bottom: 0;
}

#board tr td:first-child {
  border-left: 0;
}
#board tr td:last-child {
  border-right: 0;
}
